*{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
}

html{
  background-color: #eee;
}

button{
  border: none;
  background-color: #428821;
  border-radius: 20px;
  padding: 2px 10px;
}
 
.float-right{
  float: right;
} 

.row-800,.row-400,.row-1200{
  margin: 0 auto;
}

.row-400{ 
  width: 400px;
}

.row-800{ 
  width: 800px;
}

.row-1200{ 
  width: 1200px;
}

.page{
  padding-top: 70px;
}
/* NavBar */

.navbar{
  width: 100%;
  position: fixed;
  background-color: #fff;
  height: 70px;
  box-shadow: 0 5px 10px #00000033 ;
}

.labal{
  font-size: 160%;
  color: #428821;
  font-weight: bold;
  font-style: italic;
  display: inline;
}

.navbar-containi{
  height: 100%;
  margin-top: 14px;
}

.navbar li{
  list-style: none;
  margin-top: 5px;
}

.navbar li a{
  margin-left:40px;
  font-size: 120%;
  color: #00000088 ;
  text-decoration: none;
}


/* NavBar */

/* StateBar */

.state-bar{
  position: fixed;
  width: 100%;
  padding: 6px 0;
  text-align: center;
  background-color: #428821;
  color:white;
  font-size: 90%;
}

/* StateBar */

/* Home */

/* Choose Cards Dialog */

.chose-cards{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 10px 5px #00000044;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.chose-cards-titel{
  padding: 0 50px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 120%;
  color:#428821;
}

.X-btn{
  border: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 140%;
  background-color: transparent;
}

.chose-cards img{
  width: 50px;
  padding: 5px;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.chose-cards .second-number img{
  transform: rotate(180deg);
}

[type=radio]:checked + img {
  background-color: #428821;
  border-radius: 5px;
}

.chose-cards-next-btn{
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  background-color: #428821;
  color:white;
  font-size: 110%;
}

/* Choose Cards Dialog */

.game{
  display:block;
  text-align: center;
}

/* player-option */

.player-option {
  width: fit-content;
  background-color: #fff;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  box-shadow:  0px 0px 5px 5px  #00000033;
  text-align: center;
}

.player-0-cards{
  position:fixed;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0); 
}

.player-1-cards{
  position:fixed;
  right: 10px;
  top: 90px;
  transform: translate(0, 0);

}

.player-2-cards{
  position:fixed;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0); 
}

.player-3-cards{
  position:fixed;
  left: 10px;
  top: 90px;
  transform: translate(0, 0); 
}


.player-option-name {
  color: #428821;
  margin-bottom: 4px;
}

.empty-cards{
  padding: 4px 4px;
  background-color: #eee;
  border-radius: 10px;
}

.player-option-btn{
  color: white;
}

.HImg{
  background-color: #eee;
  width: 46px;
  padding: 2px;
  
}

.graound-cards{
  display: inline-block;
  margin: 300px auto;
}

.graound-cards img {
  width: 35px;
  
}

.right-img{
  transform: rotate(90deg);
  padding: 0 16px;
}

.left-img{
  transform: rotate(270deg);
  padding: 0 16px;
}


/* player-option */



/* Home */




