@media only screen and (max-width: 600px) {
    
    *{
        font-size: 10px;
    }
    
    .navbar{
        height: 50px;
    }

    .navbar-containi{
        width: 90%;
        margin-top: 14px;
    }

    
    .page{
        padding-top: 50px;
    }
    

    .chose-cards{
        width: 90%;
        padding: 5px;
    }

    .chose-cards-titel{
        margin-top: 15px;
    }


    .chose-cards img{
        width: 40px;
        padding: 2px;
      }

    .chose-cards-next-btn{
        height: 30px;

    }

    .player-1-cards .empty-cards,.player-2-cards .empty-cards,.player-3-cards .empty-cards{
        display: none
    }

    .player-1-cards{
        top: 14%;
    }

    .player-2-cards{
        top :12%;
    }

    .player-3-cards{
        top: 14%;
    }
    .player-1-cards .HImg,.player-2-cards .HImg,.player-3-cards .HImg{
        display: none;
    }

    .HImg{
        width: 30px;
        padding: 2px;
    }

    .graound-cards{
        margin: 50% auto
    }
    .graound-cards img {
        width: 20px;
    }
    .player-option button{
        font-size: 140%;
    }
    .right-img{
        transform: rotate(90deg);
        padding: 0 8px;
    }
    
    .left-img{
        transform: rotate(270deg);
        padding: 0 8px;
    }


  }